---
import RefreshTimeline from "./RefreshTimeline.astro"

---

<div class="border-b border-gray-700 flex flex-wrap text-white items-center justify-center">
    <div class="text-center flex-1 flex-wrap hover:bg-gray-600/50 transition duration-300 ease-in-out p-5 cursor-pointer">
        <a class="border-b border-purple pb-5" href="">For you</a>
    </div>
    <div class="text-center flex-1 flex-wrap hover:bg-gray-600/50 transition duration-300 ease-in-out p-5 cursor-pointer">
        <a href="">Following</a>
    </div>

    
</div>

<script>
    /*
    document.addEventListener("scroll", () => {
      const timelineElement = document.querySelector(".timeline");
      if (timelineElement) {
        timelineElement.style.display = window.scrollY <= 250 ? "none" : "flex";
      }
    });
    */
  </script>