---

---

<div class="flex flex-col p-5 rounded-2xl bg-fondo text-white max-w-xs">
    <div class="mb-5">
        <h3 class="font-bold text-xl p-3">Spain Trends</h3>
        <div class="flex justify-between">
            <div class="flex gap-4">
                <p>1 · </p>
                <p class="text-gray-700">Digimon trending</p>
            </div>
            <p>...</p>
        </div>
        <p class="font-bold p-2">Digimon Adventure</p>
        <p class="text-gray-700 ml-2">40k posts</p>
    </div>

    <div class="mb-5">
        <div class="flex justify-between">
            <div class="flex gap-4">
                <p>2 · </p>
                <p class="text-gray-700">Programming trending</p>
            </div>
            <p>...</p>
        </div>
        <p class="font-bold p-2">Ruby is amazing</p>
        <p class="text-gray-700 ml-2">66k posts</p>
    </div>

    <div class="mb-5">
        <div class="flex justify-between">
            <div class="flex gap-4">
                <p>3 · </p>
                <p class="text-gray-700">Youtube trending</p>
            </div>
            <p>...</p>
        </div>
        <p class="font-bold p-2">Alexelcapo</p>
        <p class="text-gray-700 ml-2">6666k posts</p>
    </div>

    <div class="mb-5">
        <div class="flex justify-between">
            <div class="flex gap-4">
                <p>4 · </p>
                <p class="text-gray-700">TV Series trending</p>
            </div>
            <p>...</p>
        </div>
        <p class="font-bold p-2">Game of thrones</p>
        <p class="text-gray-700 ml-2">20k posts</p>
    </div>

    <div class="mb-5">
        <div class="flex justify-between">
            <div class="flex gap-4">
                <p>5 · </p>
                <p class="text-gray-700">Books trending</p>
            </div>
            <p>...</p>
        </div>
        <p class="font-bold p-2">Stormlight Archive</p>
        <p class="text-gray-700 ml-2">18k posts</p>
    </div>
</div>